.user_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
}

.info,
.status {
  display: flex;
}

.info {
  width: 250px;
  flex-direction: column;
  .title {
    margin: 8px 0;
  }
}
.status {
  font-size: 18px;
  font-weight: bold;
  #checkbox {
    margin: 4px 5px 0 20px;
    width: 20px !important;
    height: 20px !important;
  }
}

hr {
  color: azure;
  width: 100%;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .user_details {
    height: 110px;
    font-size: 10px;
  }
  .status {
    font-size: 12px;
    align-items: center;
  }
}
